# Python virtual environments
.venv/
venv/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# PDFs and temporary folders
pdfs/
input/
output/
data/

# Environment variables / config
.env
